@import url('https://fonts.googleapis.com/css2?family=Monda&family=Play&display=swap');

/*****************************************************************************
Déclaration générale
 *****************************************************************************/
p {
    font-family: 'Monda', sans-serif;
    font-size: 20px;
    line-height: 33px;
}

h1 {
    font-family: 'Play', sans-serif;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

h2 {
    font-family: 'Play', sans-serif;;
}

body {
    background-color: #97D3CB;
}


/******************************************************************************
En-tête
 *****************************************************************************/
header {
    width: 100%;
    background: #000000;
    text-align: center;
}

.seinezoo{
    width: 149px;
    height: 149px;

}

header div img {
    width: 100%;
    text-align: center;
}

.menu {
    position: absolute;
    left: 39px;
    top: 57px;
}


/******************************************************************************
page d'accueil
 *****************************************************************************/
.page_accueil main p {
    text-align: center;
}

.page_accueil {
    background-image: url("../Images/Nekfeu_Fond_Page1(Accueil).jpg");
    background-size: 100vw auto;
    background-position: top;
    background-repeat: no-repeat;
}

.page_accueil h1 {
    margin-top: 7%;
    margin-bottom: 5%;
    line-height: 0px;
}

.page_accueil p {
    margin: 0;
    line-height: 30px;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

.Menu {
    display: inline-block;
    height: 50px;
    top: -13px;
    left: -90px;
    position: absolute;
}

/************************************************************************************************************
Biographie et Collaboration
**********************************************************************************************************/
.premier-paragraphe {
    width: 90%;
    color: black;
    padding-right: 5%;
    padding-left: 5%;

}


.image-entre-paragraphe {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
}

/***************************************
définition film
 **************************************/
.deffilm {
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;

}

.titre {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0%;
    margin-left: 3%;
    margin-top: 3%;
}

.flecheGauche, .flecheDroit {
    width: 10%;
    height: auto;
    display: inline;
}

.flecheDroit {
    text-align: right;
    margin-left: 77%;


}

.flecheGauche {
    text-align: left;
    margin-left: 1%;
}

.pagedefinition h2 {
    color: white;
}

.pagedefinition h2, .croix {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

/****************************************************
Discographie
********************************************/
.pagedefinition footer {
    background-color: #97D3CB;
}
.discographie p{
    text-align: center;
    margin: 2% 14%;
}

.discographie h1{
    margin-top: 3%;
    margin-bottom: 3%;
}
.discographie .pochette{
    width: 28%;
    margin-right: 2%;
    margin-left: 2%;
}

.discographie .cyborg {
    margin-left: 3%;
}

.discographie main .categorie{
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-family: 'Monda', sans-serif;
    font-size: 20px;
    margin-top : 3%;
}

.video{
    display: table;
    margin: 3% auto;
}

.pagedefinition header{
    text-align: left;
}

/**************************************************
Filmographie
************************************ */
td, tr, th{
    border: black solid 1px;
    border-collapse: collapse;
    font-size: 13px;
}

.filmographie p{
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
}

.annoncevideo {
    display: table;
    margin: 3% auto;
}

table img {
    width:56px;
}

table{
    border-collapse: collapse;
    margin-top: 2%;
    text-align: center;
}

.table {
    text-align: -webkit-center;
    margin: 2%;
    width: 9(%);
}

/*************************************
remonter
 */
.remonter {
    margin-left: 88%;
    width: 10%;
    margin-bottom: 1%;
    margin-right: 2%;
}