@import url('https://fonts.googleapis.com/css2?family=Monda&family=Play&display=swap');

/*****************************************************************************
Déclaration générale
 *****************************************************************************/
p {
    font-family: 'Monda', sans-serif;
    font-size: 20px;
    line-height: 33px;
}

h1 {
    font-family: 'Play', sans-serif;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

h2 {
    font-family: 'Play', sans-serif;;
}

body {
    background-color: #97D3CB;
}


/******************************************************************************
En-tête
 *****************************************************************************/
header {
    width: 100%;
    background: #000000;
}

.logo {
    width: 149px;
    height: 149px;
}

header div img {
    width: 100%;
    text-align: center;
}

.menu {
    position: absolute;
    left: 39px;
    top: 57px;
}

/******************************************************************************
page d'accueil
 *****************************************************************************/
.page_accueil main p {
    text-align: center;
}

.page_accueil {
    background-image: url("../Images/Nekfeu_Fond_Page1(Accueil).jpg");
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.page_accueil h1 {
    margin-top: 7%;
    margin-bottom: 5%;
    line-height: 0px;
}

.page_accueil p {
    margin: 0;
    line-height: 30px;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

.Menu {
    display: inline-block;
    height: 50px;
    margin-left: 8%;
}

/************************************************************************************************************
Biographie et Collaboration
**********************************************************************************************************/
.premier-paragraphe {
    width: 90%;
    color: black;
    padding-right: 5%;
    padding-left: 5%;

}


.image-entre-paragraphe {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
}

/********************************************************************
Menu déroulant
 * */
#menu {
    display: none;
}

nav ul li {
    border-radius: 6px;
    margin-bottom: 2px;
    box-shadow: 3px 3px 3px #999;
    border: solid 1px #333A40;
    background-color: #97D3CB;
    list-style: none;
}

header nav {
    display: none;
    background-color: white;
    padding: 60px 20px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

header label {
    position: relative;
    z-index: 101;
}

label {
}

.close {
    width: 2%;
    display: none;
}

/* Cache open */
#menu:checked ~ header label .Menu {
    display: none;
}

/* Affiche close */
#menu:checked ~ header label .close {
    display: inline;
}

/* Affiche le menu */
#menu:checked ~ header nav {
    display: inline;
}

/* Cache le contenu principal pour éviter le scroll */
#menu:checked ~ main {
    display: none;
}

/***************************************
définition film
 **************************************/
.pagedefinition {

}

.deffilm {
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;

}

.titre {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0%;
    margin-left: 3%;
    margin-top: 3%;
}

.flecheGauche, .flecheDroit {
    width: 10%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 90vh;
}

.flecheDroit {
    text-align: right;
    margin-left: 89%;


}

.flecheGauche {
    text-align: left;
    margin-left: 1%;
}

.pagedefinition h2 {
    color: white;
}

.pagedefinition h2, .croix {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

/****************************************************
Discographie
********************************************/
.discographie p{
    text-align: center;
    margin: 3% 3%;
}

.discographie h1{
    margin-top: 3%;
    margin-bottom: 3%;
}
.discographie .pochette{
    width: 28%;
    margin-right: 2%;
    margin-left: 2%;
}

.discographie main div{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Monda', sans-serif;
    font-size: 20px;
    margin-top : 3%;
}

.video{
    margin-left: 5%;
    margin-top: 5%;
}