/********************************************************************
Menu déroulant
 * */
#menu {
    display: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul li {
    margin-bottom: 8%;
    box-shadow: 4px 5px 5px #999;
    border: solid 1px #333A40;
    background-color: #97D3CB;
    list-style: none;
    padding: 8%;
    text-align: center;
}

header nav {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    top: 18%;
    left: 0;
    width: 96%;
    padding: 2%;
}

header label {
    position: relative;
    z-index: 101;
}

header nav ul {
    padding: 5%;
}

header nav ul li{
    font-family: Agency FB, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
}

label {
}

.close {
    width: 27%;
    display: none;
}

/* Cache open */
#menu:checked ~ header label .Menu {
    display: none;
}

/* Affiche close */
#menu:checked ~ header label .close {
    display: inline;
}

/* Affiche le menu */
#menu:checked ~ header nav {
    display: inline;
}

/* Cache le contenu principal pour éviter le scroll */
#menu:checked ~ main {
    display: none;
}
