/* Grands écrans >= 760px */
@media screen and (min-width: 550px) {
    /**************************
    Page collaboration
    **************************/
    .image-entre-paragraphe {
        width: 30%;
        float: right;
        padding-left: 5%;
        padding-right: 5%;
        height: auto;
    }

    .gaucheimg {
        float: left;
    }

    .remonter {
        width: 8%;
        margin-left: 90%;
    }

    /***************
    filmographie
    */
    .annoncevideo {
        width: 90vw;
        height: 50vw;
    }

    table {
        width: 90vw;
    }

    /*****************
    Biographie
     *******/
    .droiteimg {
        float: right;
    }

    /********************
    Discographie
     *********/
    .video {
        width: 90vw;
        height: 50vw;
    }

    header nav {
        top: 20%;
    }

    .flecheDroit {
        margin-left: 82%;
    }

    .flecheGauche, .flecheDroit {
        width: 8%;
    }

}


/* Très grand écrans >= 1000px */

@media screen and (min-width: 1000px) {
    /*****************
    Accueil
     *********************/
    nav ul li {
        padding: 5%;
        margin-bottom: 4%;
    }

    .page_accueil {
        background-image: url(../Images/le-rappeur-nekfeu-le-12-fevrier-2016-au-zenith-a-paris_5971222.jpg);
        background-size: auto 100vh;
        background-position: top;
        background-repeat: no-repeat;
    }

    .page_accueil h1, .page_accueil p {
        color: white;
    }

    /******************
Biographie
*********************/
    .remonter {
        width: 3%;
        margin-left: 96%;
    }

    .image-entre-paragraphe {
        width: 20%;
    }

    table img {
        width: 50%;
    }

    .discographie .pochette {
        width: 10%;
        margin-right: 11%;
        margin-left: 12%;
    }

    .croix {
        width: 5%;
    }

    .flecheGauche, .flecheDroit {
        width: 4%;
    }

    .flecheDroit {
        margin-left: 90%;
    }
}

