/* Petits écrans <= 480px */
@media screen and (max-width: 480px) {
}

/* Écrans moyens >= 481px */
@media screen and (min-width: 481px) {

}

/* Grands écrans >= 760px */
@media screen and (min-width: 550px) {
    /**************************
    Page collaboration
    **************************/
    .image-entre-paragraphe {
        width: 30%;
        float: right;
        padding-left: 5%;
        padding-right: 5%;
        height: auto;
    }
    .gaucheimg {
        float: left;
    }

    .remonter{
        width: 8%;
        margin-left: 90%;
    }
/***************
filmographie
*/
    .annoncevideo {
        width: 90vw;
        height: 50vw;
    }

    table {
        width:90vw;
    }
/*****************
Biographie
 *******/
    .droiteimg {
        float: right;
    }
    /********************
    Discographie
     *********/
    .video{
        width: 90vw;
        height: 50vw;
    }
    header nav {
        top: 20%;
    }
    .flecheDroit {
        margin-left: 82%;
    }
    .flecheGauche, .flecheDroit {
        width: 8%;
    }

}


/* Très grand écrans >= 1024px */

@media screen and (min-width: 1024px) {

}
