@import url('https://fonts.googleapis.com/css2?family=Monda&family=Play&display=swap');

/*****************************************************************************
Déclaration générale
 *****************************************************************************/
p {
    font-family: 'Monda', sans-serif;
    font-size: 20px;
    line-height: 33px;
}

h1 {
    font-family: 'Play', sans-serif;;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

body {
    background-color: #97D3CB;
}

/******************************************************************************
En-tête
 *****************************************************************************/
header {
    width: 100%;
    background: #000000;
}

.logo {
    width: 149px;
    height: 149px;
}

header div img {
    width: 100%;
    text-align: center;
}

.menu {
    position: absolute;
    left: 39px;
    top: 57px;
}

/******************************************************************************
page d'accueil
 *****************************************************************************/
.page_accueil main p {
    text-align: center;
}

.page_accueil {
    background-image: url("Images/Nekfeu_Fond_Page1(Accueil).jpg");
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

/************************************************************************************************************
Biographie et Collaboration
 **********************************************************************************************************/
.premier-paragraphe {
    width: 90%;
    color: black;
    padding-right: 5%;
    padding-left: 5%;

}


.image-entre-paragraphe {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
}

header img {
    display: inline-block;
    text-align: center;
}

.Menu {
    display: inline-block;
    height: 50px;
    margin: 15% 0 15% 2%;
}


/********************************************************************
Menu déroulant
 * */
#menu {
    display: none;
}
nav ul li {
    border-radius: 6px;
    margin-bottom:2px;
    box-shadow: 3px 3px 3px #999;
    border:solid 1px #333A40;
    background-color: #97D3CB;
    list-style: none;
}
header nav{
    display: none;
    background-color: white;
    padding: 60px 20px;
    position: absolute;
    z-index: 100;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
}

header label {
    position: relative;
    z-index:101;
}

label {
}


/* Cache open */
#menu:checked ~ header label .Menu  {
    display: none;
}
/* Affiche close */
#menu:checked ~ header label .close  {
    display: block;
}
/* Affiche le menu */
#menu:checked ~ header nav {
    display: block;
}
/* Cache le contenu principal pour éviter le scroll */
#menu:checked ~ main {
    display: none;
}